# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Cython cache
*.c
*.cpp
*.html

# FastAPI / Uvicorn
*.log

# Node / React
node_modules/
dist/
.vite/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Excluir carpetas pesadas por completo
backend/tools/**
backend/tools/
uploads/**
uploads/
seed_files/**

# Excluir cualquier archivo DICOM o base de datos en cualquier lado
*.dcm
*.db
**/1.2.840.*
backend/static/thumbnails/
backend/static/thumbnails/**
