fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydicom
pynetdicom
python-multipart
python-dotenv
slowapi
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
numpy
Pillow
google-genai
email-validator
Jinja2
weasyprint
selenium
webdriver-manager
openai-whisper
PyJWT
apscheduler
pyodbc
bcrypt==3.2.2